// Carousel styles
@use 'variables' as *;

$textShadowColor: rgba(0, 0, 0, .2);
$bgColor: rgba(255, 255, 255, 0.6);

.owl-carousel {
    h1, h2, h3, h4, h5, h6 {
        text-shadow: 0px 3px 3px $textShadowColor;
    }
}

.owl-carousel-item {

    h5 {
        color: $primary;
    }

    h3 {
        color: var(--secondary);
    }

    .container {
        .row {
            background-color: $bgColor;
            max-width: 600px;
            min-width: 75%;
            padding: 15px 5px;
        }
    }
}